### Instructions

#### Given the data file "WorkOders15_18 Corrective.csv ":
- Recode label data
- Determine which factors influence MTTF (mean time to failure)
- Determine 20/80 for equipment failures (type, manufacturer, etc)
- Show descriptive statistics for MTTF and repair times
- Using machine learning predict extreme repair events (too soon, too long to repair, too costly)

#### Methodology:
- Carry out PCA. Summarize findings looking for relationship for variables time between failures (MTTF), repair time, cost
- Give statistics about time between failures (MTTF), repair time, cost (Including histograms)
- Do some math to find 20/80's of those variables
- Create classes and carry out machine learning to determine what causes those rather extreme cases
    
#### Deliver:
- Statistical analysis (mean, std dev, max, min, etc.) for time between failures (MTTF), repair time, cost
- Principal component analysis answering what variables influence time between failures (MTTF), repair time, cost
- Machine learning to predict time between failures (MTTF), repair time, cost after having established some thresholds. - There are suggestions but please set your own thresholds:
    
    ##### Duration
The threshold was 7 days for all jobs, which is 95% percentile and 6 days for corrective jobs, which is also 95% percentile. 
A Duration of less than the threshold is label as 0. A duration above the threshold was labelled as 1 
    ##### Total cost
The threshold was established at $6520.00 which is 99% percentile (above is 1, below is 0) and $6700.00 for corrective jobs (99% percentile)
    ##### Time between reports
For the same equipment the threshold was set to 40 days for both general and corrective reports 63% percentile general, 42% corrective, above is 0, below is 1

In [1]:
# -----------------------------------------------------------------------------------------------------------------
# Import libraries
# -----------------------------------------------------------------------------------------------------------------
import pandas as pd
import numpy as np
from sklearn import preprocessing
from google.colab import files
import io

FieldProductionTeam,

EquipmentType,

EquipmentClass,

EquipmentCriticality,

Priority, 

Cause,

FailureReason,

Duration, 

GrossProductionLoss,

AffectedProduction,

IsAffectingProduction,

TotalCost,

Manufacturer,

ActualDuration, 

TBF,

TBF_Equipment

In [4]:
# -----------------------------------------------------------------------------------------------------------------
# Open the dataset
# -----------------------------------------------------------------------------------------------------------------
uploaded = files.upload()
dataset = pd.read_csv(io.BytesIO(uploaded['WorkOders15_18 Corrective (1).csv']))

Saving WorkOders15_18 Corrective (1).csv to WorkOders15_18 Corrective (1) (1).csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# -----------------------------------------------------------------------------------------------------------------
# Save the dataset as .xlsx
# -----------------------------------------------------------------------------------------------------------------
#dataset.to_excel(r'C:\Users\Manuel Wereb\Dropbox\Studium\Semester\TEC de Monterrey\Data Science and Big Data Analytics\Classworks\WorkOders15_18 Corrective_10Lines.xlsx')

In [ ]:
# -----------------------------------------------------------------------------------------------------------------
# Drop columns which contain always the same value or always a different value to reduce the size of the dataset
# -----------------------------------------------------------------------------------------------------------------
datasetFiltered = pd.DataFrame(data=None, columns=None)
for column in dataset.columns:
    print('{0} has {1} rows and {2} different values'.format(column, len(dataset.index), len(dataset[column].unique())))
    if len(dataset[column].unique()) != 1 and len(dataset[column].unique()) != len(dataset.index):
        datasetFiltered[column] = dataset[column]
    else:
        print('--> {0} is dropped'.format(column))

In [6]:
# -----------------------------------------------------------------------------------------------------------------    
# Drop the column StatusDescription and StatusShortDescription because it contains exact the same statement as StatusCode
# -----------------------------------------------------------------------------------------------------------------    
datasetFiltered['StatusDescription'] = datasetFiltered['StatusDescription'].replace(['C - Closed - Sent to History', 'D - Waiting Work Order Completion'], ['C', 'D'])
comparisonColumn = np.where(datasetFiltered['StatusCode'] == datasetFiltered['StatusDescription'], True, False)
if False not in comparisonColumn:
    datasetFiltered = datasetFiltered.drop('StatusDescription', axis=1)
    
datasetFiltered['StatusShortDescription'] = datasetFiltered['StatusShortDescription'].replace(['Closed(C)', 'Complete(D)'], ['C', 'D'])
comparisonColumn = np.where(datasetFiltered['StatusCode'] == datasetFiltered['StatusShortDescription'], True, False)
if False not in comparisonColumn:
    datasetFiltered = datasetFiltered.drop('StatusShortDescription', axis=1)

In [ ]:
# -----------------------------------------------------------------------------------------------------------------    
# Count different values in the columns of the dataset
# -----------------------------------------------------------------------------------------------------------------    
datasetFiltered['Priority'] = datasetFiltered['Priority'].replace([1, 2, 3, 4, 5], ['1', '2', '3', '4', '5'])
for column in datasetFiltered.columns:
    print(datasetFiltered[column].value_counts())
    print('\n')

KR                 16215
MS                  5984
MCELROY             4761
EUNICE              4731
BUCKEYE             4138
CY                  4013
VAN                 2977
HOBBS               2769
CARLSBAD            2586
CARTHAGE            2555
ODESSAEAST          2541
ODESSAWEST          2422
CONGER              2282
SA                  2233
FTSTOCKTON          2097
LH                  2039
CO                  2008
VEALMOOR            1934
MABEE               1884
HEADLEEGAS          1774
JSM                 1703
RANGELY             1655
ANDREWS             1279
BGF                 1251
DOLLARHIDE          1072
TAH                  914
PICEANCE             883
BIGLAKE              762
GW                   694
PET                  681
BUCKEYEPLANT         649
SANJUAN              577
GEN                  551
SF                   513
WHARTON              511
None                 493
DOLLARHIDEPLANT      453
OZONA                427
CAYUGA               378
TS                   314
SUNDOWN              309
MABEEPLANT           269
BAT                  241
BLF                  221
MAP                  161
MAT                  147
VELMA                145
WILSONCREEK          104
CARTERKNOX            54
WPG                   40
GOM-COM               27
GULFCOAST             26
PMF                   22
SANDHILLS              9
PERMIAN                1
SMPG                   1
Name: FieldProductionTeam, dtype: int64


OOOOA FOLLOW UP REPAIR                                     387
BLM RULE FOLLOW UP REPAIR                                  216
RELIEF VALVE REPAIR                                        140
Electrical Problems                                         35
Mechanical Problem                                          25
                                                          ...
2 BELTS FEA 218 broken belts                                 1
BATTERY WELL; STATE D E BTY                                  1
UNIT WILL NOT START                                          1
Sterling W1 Crank Sensor                                     1
Hugh comm Water transfer pump need aback pressure valve      1
Name: Comment, Length: 87299, dtype: int64


VAN                    427
V60MBS                 229
WR718A-PLATFORM-LTG    218
WR29A-ZZZ1601          149
VK786A-GL-TS-LTG       138
                      ...
CO-CG-25D-NH3            1
NS0494-PUNIT             1
LT2966                   1
IG7535-SBOX              1
UN8SA1BY-L               1
Name: EquipmentCode, Length: 45782, dtype: int64


VAN                    427
V60MBS                 229
WR718A-PLATFORM-LTG    218
WR29A-ZZZ1601          149
VK786A-GL-TS-LTG       138
                      ...
59826AVW-PVV-0120-1      1
66H0070182               1
22B0356246               1
HDBLS29V5PSE             1
QK1590-SBOX              1
Name: EquipmentRollupCode, Length: 45586, dtype: int64


VAN OPERATIONS                                          427
Platform Lighting                                       246
Living Quarters                                         211
Facility Lighting                                       201
STATION; MCELROY MAIN BRINE                             198
                                                       ...
PUMP; CENTRIFUGAL TRANSFER DOLLARHIDE WQS                 1
Loop; Transmitter Flow Gas Johnson Unit 16 H              1
VALVE - CONTROL - PRESSURE                                1
LOOP - LEVEL - FILTERED BRINE REGEN STORAGE TANK 851      1
PUMP - CENTRIFUGE FEED - MIX TANK 711                     1
Name: EquipmentDescription, Length: 43328, dtype: int64


Position    49045
System      20143
Asset       19632
Location      660
Name: EquipmentType, dtype: int64


Pumping Unit                                     20676
SSE - Well                                        7450
SE - Battery                                      6817
SE - Stuffing Box                                 5676
SE - Well Head                                    2998
                                                 ...
Control System - Remote Terminal Unit                1
Safety - Wind Sock                                   1
Power Supply - Power                                 1
Transmitter - Temperature                            1
SE - Skid Compressor, Electric / Rotary Screw        1
Name: EquipmentClass, Length: 332, dtype: int64


3 - Low                  39053
NA - Not Applicable      23260
R3 - Low                 15130
R2 - Moderate             5609
2 - Moderate              4857
1 - High                  1255
R1 - High                  315
Equipment criticality        1
Name: EquipmentCriticality, dtype: int64


C    86776
D     2704
Name: StatusCode, dtype: int64


3       62466
4       13962
2       10528
1        1799
5         681
None       44
Name: Priority, dtype: int64


Replaced in Kind                             39392
Repaired                                     16283
Adjusted / Calibrated                         5221
Cleaned                                       4235
No code available, See comments               4174
New Installation                              3151
No Action Required                            3071
Reset                                         2276
Aligned                                       1911
Proactive Maint Completed W/O Problem         1631
Serviced                                      1186
Flushed                                       1185
No code needed, See comments                  1002
Modified                                       794
Overhauled                                     791
Abandonment                                    558
Equipment Move                                 359
Proactive Maint Completed with Problem         316
Lubricated / Greased                           288
Balance                                        252
Unplugged                                      248
Test / Sampling                                202
Reengineered                                   137
Retrofit / Refurbish                           133
Certified                                      128
Respace                                         93
Replenished / Recharged                         91
Temporary Repair                                72
Chemical Treatment                              72
Safety Compliance Inspection                    62
Safety Compliance Inspection with Problem       60
Painted                                         46
Equipment is not loaded, See comments           36
Speed Change                                    15
Stroke Length Change                             9
Name: Action, dtype: int64


Electrical Problems                      28320
Mechanical Problem                       18465
Process Leaks                            18063
Inspection/Condition Monitoring           5211
Communication Problems                    3702
Support                                   3549
Scada / Communication Problems            2806
Optimization                              2240
Corrosion                                 1657
No code available, See comments           1253
Pressure Problem                          1122
New Installation                          1048
Abandonment / Removal                      415
Pneumatic Problem                          389
Down Hole Maintenance                      307
Temperature                                290
Will not start                             217
No code needed, See comments               213
Excess Vibration                           118
Excess Noise                                70
Equipment is not loaded, See comments       25
Name: Requirement, dtype: int64


Broken                                                             22702
Leaking                                                            14747
Open / Short / Ground                                               5758
No code available, See comments                                     5155
No Problem Found                                                    4045
Dirty                                                               3566
Flow Cut / Erosion / Wear                                           3465
Communication Failure                                               3440
Improper Alignment                                                  2043
Loose                                                               1847
Loss of Air / Power                                                 1784
Out of Calibration                                                  1644
Cracked                                                             1631
Missing                                                             1576
Plugged                                                             1559
Fouling                                                             1521
No code needed, See comments                                        1417
Physical damage weather, lightning sea, wind, temperature, etc.     1180
External Corrosion                                                   968
Program                                                              861
Contaminated                                                         855
Distorted                                                            828
Tripped                                                              822
Bent                                                                 717
Internal Corrosion                                                   708
Improper Clearance                                                   688
Pitted                                                               582
Improper Fit                                                         496
Imbalance                                                            370
Sticking                                                             352
Seized                                                               327
Bow                                                                  314
Over Heated                                                          300
Improper Lubrication                                                 232
Noisy                                                                152
Over pressure                                                        135
Vibration / Noisy                                                    130
Range Change                                                         105
Wet / Moisture                                                       103
Rupture                                                               73
Scored / Cut  / Gouged                                                73
Equipment is not loaded, See comments                                 47
Ext Corrosion Under Insulation                                        34
Improper Crush                                                        33
Cavitation / Film Boiling                                             32
Thread Damage                                                         26
Fretted by Gasket                                                     21
Wood Rot                                                               8
Spalling                                                               6
API Soft goods change out (GOM only)                                   2
Name: Cause, dtype: int64


Pipe - Piping                           8118
No code available, See comments         7436
Other - Electrical - Catch All          6286
Component - Belt                        4477
Productions Equipment - Stuffing Box    3680
                                        ...
TSE Loop                                   1
End Device - Wiring/Cabeling               1
System - Sample Pot System                 1
Valve - Regulator, Buffer Gas              1
End Device - Liquid, DP                    1
Name: FailureReason, Length: 580, dtype: int64


1       81426
7        2470
2        1576
3         681
5         638
        ...
440         1
139         1
150         1
1034        1
192         1
Name: Duration, Length: 169, dtype: int64


0      80804
10       734
1        508
5        492
20       409
       ...
295        1
146        1
423        1
551        1
319        1
Name: GrossProductionLoss, Length: 463, dtype: int64


0       54997
3        3272
2        3018
5        2792
1        2658
        ...
787         1
275         1
211         1
429         1
7100        1
Name: AffectedProduction, Length: 392, dtype: int64


No     54997
Yes    34483
Name: IsAffectingProduction, dtype: int64


0        38724
267       7579
400       5365
133       3397
534       3107
         ...
59850        1
407          1
8595         1
2390         1
479          1
Name: LaborCost, Length: 1357, dtype: int64


0        53810
100       3183
200       2748
300       2221
500       2059
         ...
2151         1
1637         1
15970        1
3620         1
736          1
Name: MaterialCost, Length: 1346, dtype: int64


0        37142
267       3009
400       2383
133       1638
534       1120
         ...
12534        1
3097         1
6387         1
10421        1
32           1
Name: TotalCost, Length: 4059, dtype: int64


None                                                            4177
Crismay Alvarez - JCNA - OP -  Cell 6612437392  off 391-4429    3610
Shane Howell - OP - RUEB                                        3457
Ryan Blake - WNAH - 661-282-6559                                2779
Mac Fernandez - KONZ - HO - IE - 661-333-7069                   2329
                                                                ...
BIG LAKE WELDER 1MAN, NO HELPER                                    1
Nguyen, Duong                                                      1
BUCKEYE PUMP TRUCK                                                 1
Brian Sisneros                                                     1
Von Bodungen, David C                                              1
Name: Assigned, Length: 1140, dtype: int64


Operations                                        17318
Head Operator                                     12505
Electronic Instrument Specialist                  12312
Electrician (1 Person)                             8118
Production Specialist Surface                      5312
                                                  ...
Principle Investigator                                1
HES Coordinator                                       1
Equipment Other (Mower, Trailer, Steamer etc.)        1
Electrician Service Truck                             1
Cogen Automation Tech                                 1
Name: Trade, Length: 78, dtype: int64


Mechanical    64959
Electric      21642
Admin          1654
Other          1225
Name: TradeGroup, dtype: int64


Surface Maintenance Supervisor    61327
Production Supervisor             17318
IE Supervisor                      9330
Surface Maintenance Advisor        1505
Name: SupervisorRole, dtype: int64


NOTAPPLICABLE            34887
None                     11316
LUFKIN                    8505
NONEAVAILABLE             3959
AMERICAN                  2619
                         ...
CBSOUTHERN                   1
ALTEN                        1
HEWLETTPACKARD               1
WIKA                         1
PRODUCTIONSPECIALTIES        1
Name: Manufacturer, Length: 914, dtype: int64


NONE                       28558
None                       25366
CONV                        1144
CONVENTIONAL                 974
C-114-119-86                 858
                           ...
CBB-40-76-54                   1
1-5103-26304-01-1/JGK-4        1
3171 2.5X3-11                  1
QT10100                        1
N32                            1
Name: Model, Length: 5366, dtype: int64


N    87957
Y     1523
Name: Safety, dtype: int64


N    88641
Y      839
Name: Reopened, dtype: int64


None                                                                       944
CLYBURN, JOHN                                                              878
CROW, CHARLIE                                                              754
William Gunter - JSIM - OP - 661-369-1047                                  722
SHORT, JAMI                                                                675
                                                                          ...
Harrison Jr, Charles                                                         1
Nichols, Bradley                                                             1
Gomillion, Jeremy                                                            1
(Deactivated) Carl Chavez - RUEB - Area 334 OP / C-36 / R-7324 / P-4331      1
Stout, Chad                                                                  1
Name: CreatedBy, Length: 1726, dtype: int64


NIETO, JOSE (432) 202-1735                                           9718
Michael Bennett - WHKE- Planner - 661-333-5163                       6478
CARLILE, CHRIS    (432) 209-2920                                     6045
None                                                                 5595
PEREZ, JAIRO (575) 704-2009                                          5004
                                                                     ...
EDWARDS, CLARK                                                          1
TIAM - Jeff Villi - Electrical Inspector - Cenergy - 559-707-3342       1
Sean Stimpson - CRPL-  1-661-340-9187                                   1
Gailey, Frank                                                           1
Steve Johnson - TARF - Co-Gen - 661-331-1867                            1
Name: UpdatedBy, Length: 329, dtype: int64


22/03/17    223
23/03/17    216
06/03/17    204
24/07/17    195
11/01/17    194
           ...
06/07/14      1
30/05/14      1
04/03/13      1
27/03/14      1
02/01/13      1
Name: CreatedDate, Length: 1590, dtype: int64


13/02/18    2581
19/02/18    1697
30/03/18    1538
20/02/18    1455
14/07/17    1271
            ...
29/04/17       1
01/10/15       1
24/12/17       1
23/08/16       1
31/08/15       1
Name: UpdatedDate, Length: 1021, dtype: int64


22/03/17    224
23/03/17    215
06/03/17    199
09/01/17    195
11/01/17    194
           ...
10/12/13      1
18/09/14      1
05/09/13      1
22/06/11      1
02/05/14      1
Name: ReportDate, Length: 1594, dtype: int64


1     10419
3      9351
2      9001
5      8607
4      8294
12     7011
6      6930
8      6208
10     6161
9      5962
11     5805
7      5731
Name: ReportMonth, dtype: int64


4    16630
3    15782
5    15579
2    15529
6    10795
1     8644
7     6521
Name: ReportWeekDay, dtype: int64


12/01/17    238
26/01/17    235
30/03/17    226
16/02/17    225
19/01/17    221
           ...
30/07/16      1
08/02/14      1
05/01/12      1
01/10/16      1
03/06/14      1
Name: TargetDate, Length: 1467, dtype: int64


12/01/17    238
26/01/17    235
30/03/17    226
16/02/17    225
19/01/17    221
           ...
03/08/14      1
24/04/16      1
17/01/14      1
09/12/13      1
30/09/14      1
Name: SchEndDate, Length: 1466, dtype: int64


0      85849
1        252
7        233
8        196
2        191
       ...
803        1
227        1
339        1
163        1
184        1
Name: ActualDuration, Length: 280, dtype: int64


None           85692
Future Week     3788
Name: ScheduleCompliant, dtype: int64


22/02/17    234
17/01/17    229
01/03/17    225
16/02/17    222
12/01/17    217
           ...
31/07/16      1
11/06/16      1
02/10/16      1
04/09/16      1
08/02/15      1
Name: CompletedDate, Length: 1235, dtype: int64


1     10716
3     10296
2      9126
4      8668
5      8609
6      7737
8      6050
10     5949
9      5757
7      5658
12     5505
11     5409
Name: CompletedMonth, dtype: int64


4    18962
5    18960
3    17996
2    16366
6    13088
7     2198
1     1910
Name: CompletedWeekDay, dtype: int64


0    88246
1     1210
2       18
3        6
Name: TBF, dtype: int64


0.0       2618
1.0       1281
7.0        799
2.0        751
6.0        732
          ...
849.0        1

In [7]:
# -----------------------------------------------------------------------------------------------------------------    
# Drop non-informative columns to reduce the size of the dataset
# -----------------------------------------------------------------------------------------------------------------    
datasetFiltered = datasetFiltered.drop(['Comment', 'EquipmentCode', 'EquipmentRollupCode', 'EquipmentDescription', 'StatusCode', 'Action', 'Requirement', 'LaborCost', 'MaterialCost', 'Assigned', 'Trade', 'TradeGroup', 'SupervisorRole', 'Model', 'Safety', 'Reopened',  'CreatedBy', 'UpdatedBy', 'CreatedDate', 'UpdatedDate', 'ReportDate', 'ReportMonth', 'ReportWeekDay', 'TargetDate', 'SchEndDate', 'ScheduleCompliant',  'CompletedDate', 'CompletedMonth', 'CompletedWeekDay'], axis=1)
datasetFiltered

      FieldProductionTeam EquipmentType  ... TBF TBF_Equipment
0                 RANGELY        System  ...   0           4.0
1                     VAN        System  ...   0           NaN
2                     VAN         Asset  ...   0           1.0
3                     VAN        System  ...   0           0.0
4                     VAN        System  ...   0           0.0
...                   ...           ...  ...  ..           ...
89475                  KR      Position  ...   0           NaN
89476                 TAH      Position  ...   0           NaN
89477            VEALMOOR         Asset  ...   0           NaN
89478                  CY      Position  ...   0           NaN
89479                 TAH      Position  ...   0           NaN

[89480 rows x 16 columns]

In [ ]:
# -----------------------------------------------------------------------------------------------------------------    
# Encode non-numerical columns to numerical
# -----------------------------------------------------------------------------------------------------------------    
datasetEncode = pd.DataFrame(data=None, columns=datasetFiltered.columns)
label_encoder = preprocessing.LabelEncoder()
numericalColumns = datasetEncode._get_numeric_data().columns

for column in datasetFiltered.columns:
    if column not in numericalColumns:
        datasetEncode[column] = label_encoder.fit_transform(datasetFiltered[column])
print(datasetEncode)

In [10]:
datasetFiltered.describe()

           Duration  GrossProductionLoss  ...           TBF  TBF_Equipment
count  89480.000000         89480.000000  ...  89480.000000   43698.000000
mean       1.979001            15.377347  ...      0.014126     124.043297
std       12.657583           661.908685  ...      0.121373     168.194937
min        1.000000             0.000000  ...      0.000000       0.000000
25%        1.000000             0.000000  ...      0.000000      14.000000
50%        1.000000             0.000000  ...      0.000000      56.000000
75%        1.000000             0.000000  ...      0.000000     168.000000
max     1171.000000        156000.000000  ...      3.000000    1253.000000

[8 rows x 7 columns]

In [14]:
dfmean=datasetFiltered[["TotalCost","ActualDuration","TBF"]].mean()
print(dfmean)

TotalCost         724.515512
ActualDuration      1.495451
TBF                 0.014126
dtype: float64

In [16]:
dfstd=datasetFiltered[["TotalCost","ActualDuration","TBF"]].std()
print(dfstd)

TotalCost         17677.358268
ActualDuration       20.174754
TBF                   0.121373
dtype: float64

In [18]:
dfmin=datasetFiltered[["TotalCost","ActualDuration","TBF"]].min()
print(dfmin)

TotalCost         0
ActualDuration   -4
TBF               0
dtype: int64

In [20]:
dfmax=datasetFiltered[["TotalCost","ActualDuration","TBF"]].max()
print(dfmax)

TotalCost         5010670
ActualDuration       1384
TBF                     3
dtype: int64